version: '3.8'
services:
  db:
    image: mysql:latest
    container_name: sd3db
    environment:
      MYSQL_ROOT_PASSWORD: sd5
      MYSQL_DATABASE: sd3
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
